@charset "UTF-8";
/* color */
/* background color */
/* size */
/* breakpoint */
/* codage auto */
/* image size load */
/* 
    1: la palette du goût
    2: la note enchantée 
    3: a la francaise
    4: le delice du sens 
*/
/*
@function time-animation($t-boucle){
    @for $t from 1 through 9 {
        $t-boucle : ($t + 0.2s)
    }
    @return $t-boucle ;
}
*/
/*mixin Breakpoint*/
/* @mixin tv {
    @media screen and (min-width : $min-tv) and (max-width : $max-tv) {
        @content ;
    }
}
*/
/* Shadow */
/* Mixin flex*/
/* image-select */
/* mixin transform */
/* bouton anime*/
@keyframes battement {
  to {
    text-shadow: 0 0 50px rgba(255, 71, 84, 0);
  }
}
/* loading spinner */
@keyframes anima_c1 {
  25% {
    transform: rotate(45deg) rotateX(180deg);
  }
  50% {
    transform: rotate(45deg) rotateX(180deg);
  }
  75% {
    transform: rotate(45deg);
  }
}
@keyframes anima_c2 {
  25% {
    transform: rotate(135deg) rotateX(180deg);
  }
  50% {
    transform: rotate(135deg) rotateX(180deg);
  }
  75% {
    transform: rotate(135deg);
  }
}
@keyframes anima_txt {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fourchette {
  0% {
    -webkit-transform: translateX(600px);
    transform: translateX(600px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(68px);
    transform: translateX(68px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(32px);
    transform: translateX(32px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes fourchette {
  0% {
    -webkit-transform: translateX(600px);
    transform: translateX(600px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(68px);
    transform: translateX(68px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(32px);
    transform: translateX(32px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes loading {
  0% {
    opacity: 1;
  }
  0% {
    transform: translateX(0);
  }
  90% {
    opacity: 1;
  }
  99% {
    transform: translateX(0);
  }
  100% {
    display: none;
  }
  100% {
    opacity: 0;
  }
  100% {
    transform: translateX(-10000px);
  }
}
/* aniamtion menu*/
@keyframes animation2 {
  0% {
    opacity: 0;
  }
  0% {
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}
/* logo animation */
@keyframes logo {
  0% {
    transform: translateX(0px);
  }
  10% {
    transform: translateX(-20px);
  }
  20% {
    transform: translateX(20px);
  }
  30% {
    transform: translateX(-20px);
  }
  40% {
    transform: translateX(20px);
  }
  50% {
    transform: translateX(-10px);
  }
  60% {
    transform: translateX(10px);
  }
  70% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(10px);
  }
  90% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(0px);
  }
}
/* animation under-line */
@keyframes under {
  0% {
    width: 0px;
  }
  50% {
    width: 80px;
  }
  70% {
    width: 15px;
  }
  80% {
    width: 55px;
  }
  100% {
    width: 40px;
  }
}
@font-face {
  font-family: "Shrikhand";
  src: url("../fonts/Shrikhand-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotoregular";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "robotoregular", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
}

h1 {
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
}

/* loading spinner */
.loading .loader {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  animation: loading 4.5s ease-out;
  animation-fill-mode: forwards;
  background-color: #f1f1f1;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.loading .loader .conteneur-coeur {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.loading .loader .conteneur-coeur__1 {
  position: relative;
  left: -4.5vh;
  top: -2.5vh;
  height: 15vh;
  width: 15vh;
}
.loading .loader .conteneur-coeur__1--coeur1 {
  animation: anima_c1 3s 1.5s linear 2;
  background-color: #9356DC;
  border-radius: 50px 50px 5px 5px;
  margin: auto;
  top: 0;
  left: 4vh;
  bottom: 0;
  right: 0;
  position: absolute;
  transform: rotate(45deg);
  transform-origin: 50% 68.5%;
  height: 8vh;
  width: 5vh;
}
.loading .loader .conteneur-coeur__1--coeur2 {
  animation: anima_c2 3s 2.3s linear 2;
  animation-fill-mode: forwards;
  background-color: #9356DC;
  border-radius: 5px 5px 50px 50px;
  top: 6.5vh;
  left: 7vh;
  position: absolute;
  transform: rotate(135deg);
  transform-origin: 50% 31.5%;
  height: 8vh;
  width: 5vh;
}
.loading .loader .conteneur-coeur__2 {
  animation: anima_txt 0.5s 1 cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
  font-size: clamp(40px, 7.5vw, 100px);
  margin-left: -4.5vh;
}
.loading .loader .conteneur-coeur__3 {
  animation: fourchette 1s 0.3s both;
  color: #9356DC;
  font-size: clamp(70px, 7.5vw, 85px);
  margin-left: 15px;
  margin-bottom: 25px;
}

.logo {
  width: 50%;
  margin: 20px auto;
  animation: logo 1s ease-in-out 1 backwards;
}
.logo--center {
  width: 100%;
}

.localisation {
  width: 100%;
  background-color: #e4e4e4;
  box-shadow: inset 0 1px 1px 1px #cbcbcb;
}
.localisation form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  width: 50%;
  margin: auto;
}
.localisation form div {
  padding-bottom: 5px;
}
.localisation form input {
  margin-top: 5px;
  border: none;
  background-color: #e4e4e4;
  font-weight: bold;
  text-align: center;
  width: 70%;
}

.annuaire {
  background-color: #f1f1f1;
  text-align: center;
  margin: auto;
  padding: 30px;
  width: 100%;
}
.annuaire__title {
  width: 80%;
  margin: 0 auto;
}

.nav {
  width: 90%;
  margin: auto;
}
.nav__title {
  margin-left: 10px;
}
.nav__flex {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: auto;
}
.nav__btn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 95%;
  /*box-shadow: $size-shadow $size-shadow $shadow-flou $shadow-flou $color;*/
  box-shadow: rgba(129, 129, 136, 0.2) 0px 7px 7px 0px;
  /*(dark-color-light($background-color-lightgrey))*/
  transition: all 0.4s ease-in-out;
  position: relative;
  padding: 25px 20px;
  margin: 10px;
}
.nav__btn span {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 8px;
  background-color: #9356DC;
  border-radius: 50%;
  color: white;
  font-size: 0.7em;
  transform: translate(-50%, 100%);
}
.nav__btn--forme {
  border: none;
  border-radius: 25px;
  font-size: 1em;
  font-weight: bolder;
}
.nav__btn--forme--i {
  padding: 0 15px 0 15px;
  color: grey;
}
.nav__btn--forme:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 15px 3px rgba(147, 86, 220, 0.3);
  background-color: #f2eafb;
}
.nav__btn--forme:hover i {
  color: #9356DC;
}

.restau {
  background-color: #f1f1f1;
  width: 100%;
  padding: 30px 0 50px 0;
  margin: 50px 0 0 0;
}
.restau__title {
  margin-left: 20px;
}
.restau__flex {
  width: 100%;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 95%;
}

.carte {
  width: 95%;
  height: 250px;
  margin: 10px auto;
  border-radius: 20px;
  position: relative;
  background-color: white;
  transition: all 0.4s ease-in-out;
  /*box-shadow: $size-shadow $size-shadow $shadow-flou $shadow-flou $color;*/
  box-shadow: rgba(129, 129, 136, 0.2) 0px 7px 7px 0px;
}
.carte:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 15px 3px rgba(147, 86, 220, 0.3);
}
.carte__img {
  width: 100%;
  height: 175px;
  border-radius: 20px 20px 0 0;
  transition: opacity 0.3s ease-in-out;
}
.carte__img--1 {
  background-image: url(../image/restaurants/small/restau-1_w640.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .carte__img--1 {
    background-image: url(../image/restaurants/medium/restau-1_w1024.jpg);
  }
}
@media screen and (min-width: 993px) {
  .carte__img--1 {
    background-image: url(../image/restaurants/large/restau-1_w1920.jpg);
  }
}
.carte__img--2 {
  background-image: url(../image/restaurants/small/restau-2_w640.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .carte__img--2 {
    background-image: url(../image/restaurants/medium/restau-2_w1024.jpg);
  }
}
@media screen and (min-width: 993px) {
  .carte__img--2 {
    background-image: url(../image/restaurants/large/restau-2_w1920.jpg);
  }
}
.carte__img--3 {
  background-image: url(../image/restaurants/small/restau-3_w640.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .carte__img--3 {
    background-image: url(../image/restaurants/medium/restau-3_w1024.jpg);
  }
}
@media screen and (min-width: 993px) {
  .carte__img--3 {
    background-image: url(../image/restaurants/large/restau-3_w1920.jpg);
  }
}
.carte__img--4 {
  background-image: url(../image/restaurants/small/restau-4_w640.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .carte__img--4 {
    background-image: url(../image/restaurants/medium/restau-4_w1024.jpg);
  }
}
@media screen and (min-width: 993px) {
  .carte__img--4 {
    background-image: url(../image/restaurants/large/restau-4_w1920.jpg);
  }
}
.carte--annotation {
  width: 80px;
  height: 30px;
  border-radius: 2px;
  background-color: #99E2D0;
  color: #278870;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 15px;
  top: 15px;
  /*transform: translate(200%, -500%);*/
}
.carte__txt {
  width: 100%;
  height: 75px;
  padding-top: 10px;
  position: relative;
}
.carte__txt__conteneur {
  cursor: pointer;
}
.carte__txt__conteneur:hover .carte__txt__conteneur--coeur {
  opacity: 0;
}
.carte__txt__conteneur--coeur {
  position: absolute;
  font-size: 1.5em;
  right: 30px;
  bottom: 25px;
  text-shadow: 0 0 0 rgba(147, 86, 220, 0.9);
  animation: battement 2s infinite cubic-bezier(0.68, 0, 0, 1);
  z-index: 2;
  transition: all 0.2s ease-in-out;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .carte__txt__conteneur--coeur {
    right: 10%;
    bottom: 22.5px;
  }
}
@media screen and (min-width: 993px) {
  .carte__txt__conteneur--coeur {
    right: 10%;
    bottom: 12px;
  }
}
.carte__txt__conteneur--hidden {
  position: absolute;
  font-size: 1.5em;
  right: 30px;
  bottom: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform-origin: center;
  z-index: 2;
  transition: all 0.4s ease-in-out;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .carte__txt__conteneur--hidden {
    right: 10%;
    bottom: 22.5px;
  }
}
@media screen and (min-width: 993px) {
  .carte__txt__conteneur--hidden {
    right: 10%;
    bottom: 12px;
  }
}
.carte__txt__conteneur--hidden:hover {
  opacity: 1;
}
.carte__txt--title {
  margin: 0 10px;
}
.carte__txt--localisation {
  margin: 5px 10px;
}
.carte__cliquable:hover .carte__img {
  opacity: 0.7;
}

.head-menu {
  width: 100%;
  position: relative;
}
.head-menu__img {
  width: 100%;
  height: 300px;
  position: relative;
}
.head-menu__img__conteneur {
  cursor: pointer;
}
.head-menu__img__conteneur:hover .carte__txt__conteneur--coeur {
  opacity: 0;
}
.head-menu__img__conteneur--coeur {
  position: absolute;
  font-size: 1.5em;
  right: 30px;
  bottom: 25px;
  text-shadow: 0 0 0 rgba(147, 86, 220, 0.9);
  animation: battement 2s infinite cubic-bezier(0.68, 0, 0, 1);
  z-index: 2;
  transition: all 0.2s ease-in-out;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .head-menu__img__conteneur--coeur {
    right: 10%;
    bottom: 22.5px;
  }
}
@media screen and (min-width: 993px) {
  .head-menu__img__conteneur--coeur {
    right: 10%;
    bottom: 12px;
  }
}
.head-menu__img__conteneur--hidden {
  position: absolute;
  font-size: 1.5em;
  right: 30px;
  bottom: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform-origin: center;
  z-index: 2;
  transition: all 0.4s ease-in-out;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .head-menu__img__conteneur--hidden {
    right: 10%;
    bottom: 22.5px;
  }
}
@media screen and (min-width: 993px) {
  .head-menu__img__conteneur--hidden {
    right: 10%;
    bottom: 12px;
  }
}
.head-menu__img__conteneur--hidden:hover {
  opacity: 1;
}
.head-menu--img1 {
  background-image: url(../image/restaurants/small/restau-1_w640.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .head-menu--img1 {
    background-image: url(../image/restaurants/medium/restau-1_w1024.jpg);
  }
}
@media screen and (min-width: 993px) {
  .head-menu--img1 {
    background-image: url(../image/restaurants/large/restau-1_w1920.jpg);
  }
}
.head-menu--img2 {
  background-image: url(../image/restaurants/small/restau-2_w640.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .head-menu--img2 {
    background-image: url(../image/restaurants/medium/restau-2_w1024.jpg);
  }
}
@media screen and (min-width: 993px) {
  .head-menu--img2 {
    background-image: url(../image/restaurants/large/restau-2_w1920.jpg);
  }
}
.head-menu--img3 {
  background-image: url(../image/restaurants/small/restau-3_w640.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .head-menu--img3 {
    background-image: url(../image/restaurants/medium/restau-3_w1024.jpg);
  }
}
@media screen and (min-width: 993px) {
  .head-menu--img3 {
    background-image: url(../image/restaurants/large/restau-3_w1920.jpg);
  }
}
.head-menu--img4 {
  background-image: url(../image/restaurants/small/restau-4_w640.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .head-menu--img4 {
    background-image: url(../image/restaurants/medium/restau-4_w1024.jpg);
  }
}
@media screen and (min-width: 993px) {
  .head-menu--img4 {
    background-image: url(../image/restaurants/large/restau-4_w1920.jpg);
  }
}
.head-menu__title {
  background-color: #f1f1f1;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  margin: 0;
  bottom: 0;
  padding: 30px 0 20px 20px;
  position: absolute;
  height: 80px;
  width: 100%;
}

.conteneur-menu {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  background-color: #f1f1f1;
}

.menu {
  width: 100%;
}
.menu__title h2 {
  font-size: 1.1em;
  margin: 20px 0 0 15px;
}
.menu__title--under {
  margin-left: 15px;
  height: 4px;
  width: 40px;
  background-color: #99E2D0;
  animation: under 1s ease-in-out 0.2s 1 backwards;
}
.menu__btn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 6px 21px 1px rgba(165, 165, 165, 0.75);
  width: 95%;
  height: 80px;
  margin: 15px auto;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  animation: animation2 0.4s ease-in-out backwards;
}
.menu__btn:nth-child(1) {
  animation-delay: 0.1s;
}
.menu__btn:nth-child(2) {
  animation-delay: 0.2s;
}
.menu__btn:nth-child(3) {
  animation-delay: 0.3s;
}
.menu__btn:nth-child(4) {
  animation-delay: 0.4s;
}
.menu__btn:nth-child(5) {
  animation-delay: 0.5s;
}
.menu__btn:nth-child(6) {
  animation-delay: 0.6s;
}
.menu__btn:nth-child(7) {
  animation-delay: 0.7s;
}
.menu__btn:nth-child(8) {
  animation-delay: 0.8s;
}
.menu__btn:nth-child(9) {
  animation-delay: 0.9s;
}
.menu__btn:nth-child(10) {
  animation-delay: 1s;
}
.menu__btn:hover .menu__btn__prix__check {
  margin-right: 0;
}
.menu__btn:hover .menu__btn__prix__check--rotation {
  transform: rotate(360deg);
}
.menu__btn__content {
  overflow: hidden;
}
.menu__btn__content--h3 {
  margin: 20px 0 5px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__btn__content--txt {
  width: 100%;
  padding-right: 10px;
  margin: 0 0 15px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__btn__prix {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.menu__btn__prix__euro {
  margin: 35px 20px 5px 10px;
  font-weight: bold;
}
.menu__btn__prix__check {
  margin-right: -70px;
  height: 80px;
  width: 70px;
  border-radius: 0 20px 20px 0;
  background: #99E2D0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-in-out;
}
.menu__btn__prix__check--rotation {
  font-size: 1.5em;
  color: white;
  transition: all 0.4s ease-in-out;
}

.conteneur-btn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.conteneur-btn .btn--violet {
  width: 40%;
  margin: 50px 50px 70px 50px;
}

.footer {
  width: 100%;
  background-color: #252525;
  color: white;
  padding: 20px;
}
.footer__title {
  padding: 10px 10px 10px 20px;
  margin: 0;
  font-weight: 100;
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
}
.footer__with-i {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 95%;
  margin: 0px 0px 0px 20px;
  padding: 0;
  font-size: 0.9em;
}
.footer__with-i i {
  height: 15px;
  width: 25px;
}
.footer__with-i--txt {
  margin: 5px;
}
.footer__with-i:hover {
  color: #9356DC;
}
.footer__txt {
  margin: 5px 5px 5px 20px;
  font-size: 0.9em;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 1em;
  /*box-shadow: $size-shadow $size-shadow $shadow-flou $shadow-flou $color;*/
  box-shadow: rgba(129, 129, 136, 0.2) 0px 7px 7px 0px;
  transition: all 0.4s ease-in-out;
}
.btn--violet {
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  border-radius: 75px;
  color: #FFFFFF;
  font-weight: 600;
  height: 50px;
  width: 220px;
  padding: 10px;
}
.btn:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 15px 3px rgba(147, 86, 220, 0.3);
  opacity: 0.7;
}

.fleche {
  font-size: 1.2em;
  left: 20px;
  top: 10px;
  padding: 20px;
  position: absolute;
  z-index: 2;
  transition: all 0.4s ease-in-out;
}
.fleche:hover {
  transform: translateX(-10px);
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .fleche {
    left: 50px;
    top: 25px;
  }
}
@media screen and (min-width: 993px) {
  .fleche {
    left: 50px;
    top: 15px;
  }
}

/* tab acceuil */
@media screen and (min-width: 768px) and (max-width: 992px) {
  .localisation {
    background-color: white;
    box-shadow: none;
    margin-left: -10px;
  }
  .localisation i {
    margin: 7px 10px 0 0;
    color: #9356DC;
  }
  .localisation form input {
    background-color: #9356DC;
    color: white;
    border: 3px solid #bbbbbb;
    border-radius: 25px;
  }

  .annuaire {
    background-color: #e6d1e0;
  }

  .nav__title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  .nav__flex {
    width: 95%;
    background-color: white;
    animation: animation2 0.3s ease-in-out 0.2s 1 backwards;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  .nav__btn {
    padding: 15px 20px;
  }
  .nav--forme {
    width: 33%;
  }

  .restau {
    background-color: white;
    width: 100%;
  }
  .restau__title {
    width: 100%;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  .restau__flex {
    width: 100%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  .carte {
    width: 40%;
    margin: 20px;
  }

  .footer {
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }

  /* tab menu */
  .head-menu {
    width: 80%;
    margin: 10px auto;
  }
  .head-menu__img {
    border-radius: 25px;
    height: 300px;
  }
  .head-menu__title {
    background-color: #e6d1e0;
    margin: 0 auto;
    left: 5%;
    width: 90%;
  }

  .conteneur-menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    width: 95%;
    border-radius: 25px;
    margin: 50px auto 0px auto;
  }
  .conteneur-menu--img1 {
    background-image: url(../image/restaurants/medium/test/restau-1_w1024-opa.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .conteneur-menu--img2 {
    background-image: url(../image/restaurants/medium/test/restau-2_w1024-opa.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .conteneur-menu--img3 {
    background-image: url(../image/restaurants/medium/test/restau-3_w1024-opa.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .conteneur-menu--img4 {
    background-image: url(../image/restaurants/medium/test/restau-4_w1024-opa.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .menu {
    width: 40%;
    margin: 30px;
    border-radius: 25px;
  }

  .footer {
    border-radius: 25px 25px 0 0;
    margin-top: 50px;
  }
}
/* desktop acceuil */
@media screen and (min-width: 993px) {
  .logo {
    width: 25%;
    margin-bottom: 100px;
  }

  .menu-desk {
    display: flex;
    height: 300px;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-left: -20px;
  }
  .menu-desk .aside {
    width: 20%;
    height: 100%;
    min-width: 400px;
    display: inline-flex;
    flex-flow: column-reverse nowrap;
    align-items: center;
    justify-content: center;
  }
  .menu-desk .aside .localisation {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 90%;
    height: 100%;
    background-color: #e4e4e4;
    box-shadow: none;
  }
  .menu-desk .aside .localisation i {
    margin: 7px 10px 0 0;
    color: #9356DC;
  }
  .menu-desk .aside .localisation form {
    width: 90%;
  }
  .menu-desk .aside .localisation form input {
    color: white;
    border: 3px solid #bbbbbb;
    border-radius: 25px;
  }
  .menu-desk .aside .annuaire {
    width: 90%;
    background-color: #e4e4e4;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  .menu-desk .nav {
    border-radius: 25px;
    width: 60%;
    min-width: 800px;
    height: 100%;
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background: linear-gradient(#FF79DA, #9356DC);
  }
  .menu-desk .nav__title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  .menu-desk .nav__flex {
    width: 95%;
    background-color: transparent;
    animation: animation2 0.3s ease-in-out 0.2s 1 backwards;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  .menu-desk .nav__btn {
    margin: 20px;
    padding: 25px 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  .menu-desk .nav--forme {
    width: 30%;
  }
  .menu-desk .nav__deco1 {
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px auto;
    width: 90%;
    height: 100px;
    border: 2px solid #e4e4e4;
    background-image: url(./../image/restaurants/small/restau-1_w640.jpg);
  }

  .restau {
    margin: 20px auto;
    width: 80%;
    border-radius: 25px;
  }
  .restau__title {
    width: 100%;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  .restau__flex {
    width: 100%;
    margin: 30px auto 0px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  .carte {
    width: 35%;
    margin: 10px auto;
  }

  .footer {
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }

  /* desktop menu */
  .head-menu {
    width: 60%;
    margin: 10px auto;
    border: 5px solid #99E2D0;
    border-radius: 35px;
  }
  .head-menu__img {
    border-radius: 25px;
    height: 300px;
  }
  .head-menu__title {
    background-color: #e4e4e4;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0 10px 0;
    left: 5%;
    width: 90%;
    height: 50px;
  }

  .conteneur-menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    width: 95%;
    border: 5px solid #e4e4e4;
    border-radius: 25px;
    margin: 50px auto 0px auto;
  }
  .conteneur-menu--img1 {
    background-image: url(../image/restaurants/medium/test/restau-1_w1024-opa.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .conteneur-menu--img2 {
    background-image: url(../image/restaurants/medium/test/restau-2_w1024-opa.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .conteneur-menu--img3 {
    background-image: url(../image/restaurants/medium/test/restau-3_w1024-opa.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .conteneur-menu--img4 {
    background-image: url(../image/restaurants/medium/test/restau-4_w1024-opa.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .menu {
    width: 25%;
    margin: 30px;
    border-radius: 25px;
  }

  .conteneur-btn {
    width: 75%;
  }

  .footer {
    width: 90%;
    border-radius: 25px 25px 0 0;
    margin-top: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
