@font-face {
  font-family: "Shrikhand";
  src: url("../fonts/Shrikhand-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotoregular";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "robotoregular", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
}

.logo {
  width: 50%;
  margin: 20px auto;
}
.logo--center {
  width: 100%;
}

.localisation {
  background-color: #e4e4e4;
  box-shadow: inset 0 1px 1px 1px #cbcbcb;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  width: 100%;
}
.localisation div {
  padding-bottom: 5px;
}
.localisation form {
  padding-bottom: 5px;
  width: 40%;
}
.localisation form input {
  border: none;
  background-color: #e4e4e4;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.annuaire {
  background-color: #f1f1f1;
  text-align: center;
  margin: auto;
  padding: 30px;
  width: 100%;
}
.annuaire__title {
  width: 80%;
  margin: 0 auto;
}

.nav {
  width: 100%;
}
.nav__title {
  margin-left: 10px;
}
.nav__flex {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: auto;
}
.nav__btn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 95%;
  box-shadow: 1px 1px 1px 1px #cbcbcb;
  position: relative;
  padding: 30px 20px;
  margin: 10px;
}
.nav__btn span {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 8px;
  background-color: #9356DC;
  border-radius: 50%;
  color: white;
  font-size: 0.7em;
  transform: translate(-50%, 125%);
}
.nav__btn--forme {
  border: none;
  border-radius: 25px;
  font-size: 1.1em;
  font-weight: bolder;
}
.nav__btn--forme--i {
  padding-right: 30px;
}
.nav__btn--forme:hover {
  background-color: #f2eafb;
}
.nav__btn--forme:hover i {
  color: #9356DC;
}

.restau {
  background-color: #f1f1f1;
  width: 100%;
  padding: 30px 0 50px 0;
  margin: 50px 0 0 0;
}
.restau__title {
  margin-left: 10px;
}
.restau__flex {
  width: 100%;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 95%;
}

.carte {
  width: 95%;
  height: 250px;
  margin: 10px auto;
  border-radius: 20px;
  background-color: white;
}
.carte__img {
  width: 100%;
  height: 175px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  position: relative;
}
.carte__img--annotation {
  width: 100px;
  height: 30px;
  border-radius: 2px;
  background-color: #99E2D0;
  color: #71d7be;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translate(200%, -500%);
}
.carte__txt {
  width: 100%;
  height: 75px;
  position: relative;
}
.carte__txt--coeur {
  position: absolute;
  font-size: 1.5em;
  right: 10px;
  top: 12.5px;
  /* transform: translate(1100%, 25%);*/
}
.carte__txt--title {
  margin: 5px 10px;
}
.carte__txt--localisation {
  margin: 5px 10px;
}

.footer {
  width: 100%;
  background-color: #252525;
  color: white;
  padding: 20px;
}
.footer__title {
  padding: 10px 10px 10px 20px;
  margin: 0;
  font-weight: 100;
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
}
.footer__with-i {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 95%;
  margin: 0px 0px 0px 20px;
  padding: 0;
  font-size: 0.9em;
}
.footer__with-i i {
  height: 15px;
  width: 25px;
}
.footer__with-i--txt {
  margin: 5px;
}
.footer__txt {
  margin: 5px 5px 5px 20px;
  font-size: 0.9em;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 1em;
}
.btn--violet {
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  border-radius: 75px;
  color: #FFFFFF;
  height: 50px;
  width: 220px;
  padding: 10px;
}
.btn:hover {
  opacity: 0.7;
}

/*# sourceMappingURL=style.css.map */
