.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto; 
    font-size: 1em;
    @include shadow ;
    @include transition-transform ;
    &--violet{
        background: linear-gradient($color-secondary,$color-primary);
        border:none;
        border-radius: 75px;
        color: $color-btn-violet;   
        font-weight: 600;
        height: 50px;
        width: 220px;
        padding: 10px; 
    }
    &:hover{
        @include block-scale ;
        @include block-opacity;
    }
}

.fleche{
    font-size: 1.2em;
    left: 20px;
    top: 10px;
    padding: 20px;
    position: absolute;
    z-index: 2;
    @include transition-transform;
    &:hover{
        @include x-10;
    }
}
