.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 50px;
    width: 220px;
    padding: 10px;  
    &--violet{
        background: linear-gradient($color-secondary,$color-primary);
        border:none;
        border-radius: 75px;
        color: $color-btn-violet;   
    }
}
