

.head-menu {
    width: 100%;
    position: relative;
    &__img{
        width: 100%;
        height: 400px;
        position: relative;
       @include coeur ;
    }
    @for $num from 1 through 4 {
        &--img#{$num} {
            @include select-img($num * 1) ;
        }
    }
    &__title{
        background-color: bg-light($background-color-lightgrey) ;
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;
        margin: 0;
        bottom: 0;
        padding: 25px 0 20px 20px;
        position: absolute;
        height: 80px;
        width: 100%;
    }
}

.conteneur-menu{
   @include flextartCol ;
   background-color: bg-light($background-color-lightgrey)  ;
}

.menu{
    width: 100%;
    &__title{
        & h2{
            font-size: $fontsize-menu-h2;
            margin: $margin-menu-h2;
        }
    }
    &__btn{
        @include flexCenterBetween;
        @include shadow-btn-menu;
        width: 95%;
        height: 80px;
        margin: 15px auto;
        background-color: $background-menu-btn;
        border-radius: 20px;
        overflow: hidden;
        animation: animation2 0.4s ease-in-out backwards;
        @for $t-boucle from 1 through 10 {
            &:nth-child(#{$t-boucle}) {
            animation-delay : $t-boucle * 0.1s ;
            }
        }
        &:hover .menu__btn__prix__check{
            margin-right: 0;
            
        }
        &:hover .menu__btn__prix__check--rotation{
            transform: rotate(360deg);
        }
        &__content{
                overflow: hidden;
            &--h3{
                margin: $margin-menu-h3;
                white-space:nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                
            }
            &--txt{
                width: 100%;
                padding-right: 10px;
                margin: $margin-menu-txt;
                white-space:nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        &__prix{
            height: 100%;
            @include flexcenterRow;
            &__euro{
                margin: 35px 20px 5px 10px;
                font-weight: bold;
            }
            &__check{
                margin-right:-70px;
                height: 80px;
                width: 70px;
                border-radius: 0 20px 20px 0;
                background: $color-tertiary; 
                @include flexcenterRow ;
                @include transition-transform;
                &--rotation{
                    font-size: $fontsize-check ;
                    color: $color-check;
                    @include transition-transform
                
                }
            }
        }
    }   
}

.conteneur-btn{
    @include flexcenterRow ;
    width: 100%;
    .btn--violet{
        width: 40%;
        margin: 50px 50px 70px 50px;
    }
}
