
@function bg-light($color){
    $bg-light : lighten($color, 5%);
    @return $bg-light ;
}

@function dark-color-light($color){
    $dark-color-light : darken($color, 10%);
    @return $dark-color-light ;
}

@function dark-color($color){
    $dark-color : darken($color, 40%);
    @return $dark-color ;
}

@function hover($color){
    $hover : lighten($color, 35%);
    @return $hover ;
}

@function opa($color){
    $opa : opacity($color,0.5);
    @return $opa ;
}






