@keyframes battement {
    to {
      text-shadow: 0 0 50px rgba(255, 71, 84, 0);
    }
}

/* loading spinner */

@keyframes anima_c1 {
  25%{
    transform: rotate(45deg) rotateX(180deg);
  }
  50%{
    transform: rotate(45deg) rotateX(180deg);
  }
  75%{
    transform: rotate(45deg) 
  }
}



@keyframes anima_c2 {
  25%{
    transform: rotate(135deg) rotateX(180deg);
  }
  50%{
    transform: rotate(135deg) rotateX(180deg);
  }
  75%{
    transform: rotate(135deg) 
  }
} 

@keyframes anima_txt {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes fourchette {
  0% {
    -webkit-transform: translateX(600px);
            transform: translateX(600px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(68px);
            transform: translateX(68px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(32px);
            transform: translateX(32px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes fourchette {
  0% {
    -webkit-transform: translateX(600px);
            transform: translateX(600px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(68px);
            transform: translateX(68px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(32px);
            transform: translateX(32px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes loading {
        0%{
                opacity: 1;
               
        }
        0%{
                transform: translateX(0);
               
        }
        90%{
                opacity: 1;
        }
        99%{
                transform: translateX(0);
        }
        100%{    
                display: none;
        }         
        100%{    
                opacity: 0;
        }      
        100%{    
                transform: translateX(-10000px);
        }           
}

/* aniamtion menu*/

@keyframes animation2 {
        0%{
            opacity:0;
        }
        0%{
            transform: translateY(40px);
        }
     
        100%{
            opacity: 1;; 
        }
        100%{
            transform: translateY(0);
        }
}

/* logo animation */

@keyframes logo {
        0%{
                transform: translateX(0px);
        }
        10%{
                transform: translateX(-20px);
        }
        20%{
                transform: translateX(20px);
        }
        30%{
                transform: translateX(-20px);
        }
        40%{
                transform: translateX(20px);
        }
        50%{
                transform: translateX(-10px);
        }
        60%{
                transform: translateX(10px);
        }
        70%{
                transform: translateX(-10px);
        }
        80%{
                transform: translateX(10px);
        }
        90%{
                transform: translateX(0px);
        }
        100%{
                transform: translateX(0px);
        }
}

/* animation under-line */

@keyframes under {

        0%{
                width: 0px ;
        }

        50%{
                width: 80px;
        }

        70%{
                width: 15px;
        }

        100%{
                width: 40px;
        }
        
}
            
            
    

