/*mixin Breakpoint*/
@mixin tablette {
    @media screen and (min-width : $min-tab) and (max-width : $max-tab) {
        @content ;
    }
}

@mixin desktop {
    @media screen and (min-width : $min-desk) and (max-width : $max-desk) {
        @content ;
    }
}

@mixin tv {
    @media screen and (min-width : $min-tv) and (max-width : $max-tv) {
        @content ;
    }
}

/* Shadow */

@mixin shadow{
    /*box-shadow: $size-shadow $size-shadow $shadow-flou $shadow-flou $color;*/
    box-shadow: rgba(129, 129, 136, 0.2) 0px 7px 7px 0px ;
}

@mixin shadow-inset($color) {
    box-shadow: inset 0 $size-shadow $shadow-flou $shadow-flou $color;
}

@mixin shadow-btn-menu {
    box-shadow: 0px 6px 21px 1px rgba(165,165,165,0.75);
    
}

/* Mixin flex*/

@mixin flexstartRow {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
}

@mixin flexcenterRow {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

@mixin flexMidCol {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 95%;
}

@mixin flextartCol {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

@mixin flexCenterBetween{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

/* image-select */

@mixin select-img ($num-img){
    background-image: map-get($img-rest, $num-img);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
}

/* mixin transform */

@mixin block-scale {
    transform: scale(1.02);
    box-shadow: 0px 0px 15px 3px rgba(147,86,220,0.3); 
  
}

@mixin x-10 {
    transform: translateX(-10px);
}

@mixin block-opacity{
    opacity: 0.7;
}

@mixin transition-transform {
    transition: all 0.4s ease-in-out;
}

@mixin transition-transform2 {
    transition: all 0.2s ease-in-out;
}


/* bouton anime*/

@mixin coeur{
    &__conteneur{
        cursor:pointer;
        &:hover .carte__txt__conteneur--coeur{
            opacity: 0;
        }
        &--coeur{
            position: absolute;
            font-size: $size-coeur;
            right: 30px;
            bottom:25px;
            text-shadow: 0 0 0 rgba(147, 86, 220, .9);
            animation: battement 2s infinite cubic-bezier(.68, 0, 0, 1); 
            z-index: 2; 
            @include transition-transform2 ;
        }
        
        &--hidden{
            position: absolute;
            font-size: 1.5em;
            right: 30px;
            bottom: 25px;
            background: linear-gradient($color-secondary,$color-primary);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            opacity: 0;
            transition: all 0.2s ease-in-out;
            transform-origin: center;
            z-index: 2;  
            @include transition-transform ;
        &:hover{
                opacity: 1;
            }
            
        }
    }
}



