/*mixin Breakpoint*/
@mixin tablette {
    @media screen and (min-width : $min-tab) and (max-width : $max-tab) {
        @content ;
    }
}

@mixin desktop {
    @media screen and (min-width : $min-desk) and (max-width : $max-desk) {
        @content ;
    }
}

@mixin tv {
    @media screen and (min-width : $min-tv) and (max-width : $max-tv) {
        @content ;
    }
}

/* Shadow */

@mixin shadow{
    /*box-shadow: $size-shadow $size-shadow $shadow-flou $shadow-flou $color;*/
    box-shadow: rgba(129, 129, 136, 0.2) 0px 7px 7px 0px ;
}

@mixin shadow-inset($color) {
    box-shadow: inset 0 $size-shadow $shadow-flou $shadow-flou $color;
}

/* Mixin flex*/

@mixin flexstartRow {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
}

@mixin flexMidCol {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 95%;
}

/* image-select */

@mixin select-img ($num-img){
    background-image: map-get($img-rest, $num-img);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
}

/* mixin transform */

@mixin block-scale {
    transform: scale(1.02);
    box-shadow: 0px 0px 15px 3px rgba(147,86,220,0.3); ;
  
}

@mixin block-opacity{
    opacity: 0.7;
}

@mixin transition-transform {
    transition: all 0.3s ease-in-out;
}

