
/* color */
$color-primary : #9356DC ;
$color-secondary :#FF79DA ;
$color-tertiary :#99E2D0 ;
$lightcolor-item-fonts : white ;
$color-btn-violet:#FFFFFF;
$color-check:white;

/* background color */
$background-color-lightgrey:#e4e4e4;
$background-color-footer:rgb(37, 37, 37);
$background-loader: rgb(224, 224, 224);
$background-menu-btn:white;


/* size */
$font-size-loader:100px;
$size-shadow: 1px ;
$shadow-flou: 1px;
$size-coeur:1.5em;
$fontsize-menu-h2:1.1em;
$margin-menu-h2: 20px 0 0 15px;
$margin-menu-txt: 0 0 15px 10px ;
$margin-menu-prix: 0 30px 15px 0;
$margin-menu-h3:20px 0 5px 10px;
$fontsize-check: 1.5em;

/* breakpoint */
$min-tab: 768px;
$max-tab: 992px;
$min-desk: 993px;
$max-desk:1440px;
$min-tv:1441px;
$max-tv:2500px;

/* codage auto */
$num:(
    num1: 1,
    num2: 2,
    num3: 3,
    num4: 4,
);

/* image size load */

/* 
    1: la palette du goût
    2: la note enchantée 
    3: a la francaise
    4: le delice du sens 
*/

$img-rest: (
    1: url(../image/restaurants/small/restau-1_w640.jpg),
    2: url(../image/restaurants/small/restau-2_w640.jpg),
    3: url(../image/restaurants/small/restau-3_w640.jpg),
    4: url(../image/restaurants/small/restau-4_w640.jpg),
);

$img-rest-tab: (
    1: url(../image/restaurants/medium/restau-1_w1024.jpg),
    2: url(../image/restaurants/medium/restau-2_w1024.jpg),
    3: url(../image/restaurants/medium/restau-3_w1024.jpg),
    4: url(../image/restaurants/medium/restau-4_w1024.jpg),
);

$img-rest-desk: (
    1: url(../image/restaurants/large/restau-1_w1920.jpg),
    2: url(../image/restaurants/large/restau-2_w1920.jpg),
    3: url(../image/restaurants/large/restau-3_w1920.jpg),
    4: url(../image/restaurants/large/restau-4_w1920.jpg),
);

$img-rest-tv: (
    1: url(../image/restaurants/large/restau-1_w1920.jpg),
    2: url(../image/restaurants/large/restau-2_w1920.jpg),
    3: url(../image/restaurants/large/restau-3_w1920.jpg),
    4: url(../image/restaurants/large/restau-4_w1920.jpg),
);

