$color-primary : #9356DC ;
$color-secondary :#FF79DA ;
$color-tertiary :#99E2D0 ;
$background-color-lightgrey:#e4e4e4;
$background-color-footer:rgb(37, 37, 37);
$color-btn-violet:#FFFFFF;
$lightcolor-item-fonts : white ;
$size-shadow: 1px ;
$size-coeur:1.5em;
$shadow-flou: 1px;