.footer{
    background-color: $background-color-footer;
    color: $lightcolor-item-fonts;
    padding: 20px;
    width: 100%;
    &__title {
        font-weight: 100;
        font-family:"Shrikhand", Arial, Helvetica, sans-serif;
        margin: 0;
        padding:10px 10px 10px 20px;
    }
    &__with-i{
        @include flexstartRow;
        font-size: 0.9em;
        margin: 0px 0px 0px 20px;
        padding: 0;
        & i{
            height: 15px;
            width: 25px;
        }
        &--txt{
            margin: 5px;
        }
    }
    &__with-i:hover{
        color: $color-primary;
    }
    &__txt{
        font-size: 0.9em;
        margin: 5px 5px 5px 20px;    
    }
}