
/* tab acceuil */

@include tablette {

    .localisation{
        background-color: $lightcolor-item-fonts ;
        box-shadow: none;
        & i{
            color: $color-primary;
            margin: 7px 10px 0 0;
        }
        & form input{
            background-color: $color-primary;
            border: 3px solid rgb(187, 187, 187);
            border-radius: 25px;
        }
        input::placeholder{
            color:white;
            opacity: 1;
        }
    }

    .annuaire{
        background-color: $background-color-tab;
    }

    .nav{

        &__title{
            @include flexcenterRow ;
        }

        &__flex{
            animation: animation2 0.3s ease-in-out 4.6s 1 backwards;
            @include flexcenterRow ;
        }
        &__btn{
            padding: 15px 20px ;
        }
        &--forme{
            width: 33%;
        }

    }

    .restau{
        background-color: $lightcolor-item-fonts;
        margin: 10px auto 10px auto;
        &__title{
           @include flexcenterRow ;
        }
    
        &__flex{
            flex-flow: row wrap ;
            width: 100%;
        }
    }
    .carte{
        margin: 20px;
        width: 40%;
    }     
    .footer{
        margin: 10px auto;
        @include flexcenterRow;
    }

    /* tab menu */

    .head-menu {
        margin: 10px auto ;
        width: 80%;
        &__img{
            border-radius: 25px;
            height: 300px;
        }

        &__title{
            background-color: $background-color-tab;
            left: 5%;
            margin: 0 auto;
            width: 90%; 
        }
    }

    .conteneur-menu{
    border-radius: 25px;
    flex-flow: row wrap;
    margin: 50px auto 0px auto;
    width: 95%;
        @for $num from 1 through 4 {
        &--img#{$num} {
            @include select-img-opa($num * 1) ;
            }
        }
    }

    .menu{
        margin: 30px;
        width: 40%;
    }

    .footer{
        border-radius: 25px 25px 0 0 ;
        margin-top: 50px;
    }

}

    /* desktop acceuil */


@include desktop {

        .logo{
            margin-bottom: 50px;
            min-width: 350px;
            width: 25%;
        }

        .main{
            align-items: center;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            margin: auto;
            width: 94%; 
        }
        .aside{
            flex-flow: column-reverse nowrap;
            align-items: center;
            background-image: url(./../image/restaurants/medium/test/restau-3_w1024-opa.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 20px;
            border: 2px solid $background-color-footer;
            display:inline-flex;
            justify-content: center;
            padding-bottom: 20px;
            width: 20%;
            min-width: 400px;
            .localisation{
                border-bottom-left-radius: 25px;
                border-bottom-right-radius: 25px;
                box-shadow: none;
                width: 90%;
                    & i{
                        color: $color-primary;
                        margin: 7px 10px 0 0;   
                    }
                    & form{
                        width: 90%;
                    }
                    & form input{
                        border: 3px solid rgb(187, 187, 187);
                        border-radius: 25px;
                    }
            }
            
            .annuaire{
                background-color: $background-color-lightgrey;
                border-top-left-radius: 25px;
                border-top-right-radius: 25px;
                margin-top: 20px;
                width: 90%;
            }
            
            .nav{
                min-width:400px;
                flex-flow: column nowrap;
                &__title{
                    @include flexcenterRow ;
                }
        
                &__flex{
                    animation: animation2 0.3s ease-in-out 4.6s 1 backwards;  
                }
                &__btn{
                    margin: 20px;
                    @include flexcenterRow
                }
                &--forme{
                    width: 30%;
                }
            }
        }

       
    
        .restau{
            border-radius: 25px;
            border: 2px solid $background-color-footer;
            height: 735px;
            margin: 0 0 0 30px;
            min-width: 800px;
            padding: 20px 0 20px 0;
            &__title{
               margin: auto;
               @include flexcenterRow ;
            }
            &__flex{
                flex-flow: row wrap ;
                justify-content: space-around;
                margin: 55px auto 0px auto;
            }
        }
        .carte{
            margin: 20px 10px;
            min-width: 300px;
            width: 30%;
        }     
        .footer{
            margin: auto;
            @include flexcenterRow;
        }
    
        /* desktop menu */
    
       
    
        .head-menu {
            border: 5px solid $color-tertiary;
            border-radius: 35px;
            margin: 10px auto ;
            width: 60%;
            &__img{
                border-radius: 25px;
                height: 300px;
            }
    
            &__title{
                height: 50px;
                left: 5%;
                padding: 10px 0 10px 0;
                text-align: center;
                width: 90%; 
            }
        }
    
        .conteneur-menu{
        border: 5px solid $background-color-lightgrey;
        border-radius: 25px;
        flex-flow: row wrap;
        margin: 50px auto 0px auto;
        width: 95%;
            @for $num from 1 through 4 {
            &--img#{$num} {
                @include select-img-opa($num * 1) ;
                }
            }
        }
    
        .menu{
            margin: 30px;
            width: 25%;  
        }

        .conteneur-btn{
            width: 75%;
        }
    
        .footer{
            border-radius: 25px 25px 0 0 ;
            margin-top: 50px;   
            width:95%;
            &__title{
                margin-right:150px;
            }
        }
}
