.logo{
    width: 50%;
    margin: 20px auto;
    &--center{
        width: 100%;
    }
}



.localisation{
    background-color: $background-color-lightgrey;
    @include shadow-inset (shadow($background-color-lightgrey));
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items:flex-start;
    padding: 10px;
    width: 100%;
    div{
        padding-bottom: 5px;
    }
    form{
        padding-bottom: 5px;
        width: 40%;
        input{
            border: none;
            background-color: $background-color-lightgrey;
            font-weight: bold;
            text-align: center;  
            width: 100%;
        }
    }
}

.annuaire{
    background-color: bg-light($background-color-lightgrey) ;
    text-align: center;
    margin: auto;
    padding: 30px;
    width: 100%;

    &__title{
        width: 80%;
        margin: 0 auto ;
    }
}

.nav{
    width: 100%;
    &__title{
        margin-left: 10px;
    }
    &__flex{
        @include flexMidCol ;
        margin: auto;
       
    }
    &__btn{
        @include flexMidRow ;
        @include shadow (shadow($background-color-lightgrey));
        position: relative;
        padding: 20px ;
        margin: 10px;
        span{
            position: absolute;
            top: 0;
            left: 0;
            padding: 5px 7px;
            background-color: $color-primary;
            border-radius: 50%;
            color: $white;
            font-size: 0.7em;
            transform: translate(-50%, 75%);
        }
        &--forme{
            border: none;
            border-radius: 25px;
            font-size: 1.1em;
            font-weight: bolder;
            &--i {
                padding-right: 30px;
            }
        }
    }
}