.localisation{
    background-color: $background-color-lightgrey;
    @include shadow-inset (dark-color-light($background-color-lightgrey));
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items:flex-start;
    padding: 10px;
    width: 100%;
    div{
        padding-bottom: 5px;
    }
    form{
        padding-bottom: 5px;
        width: 40%;
        input{
            border: none;
            background-color: $background-color-lightgrey;
            font-weight: bold;
            text-align: center;  
            width: 100%;
        }
    }
}