.nav{
    margin: auto;
    width: 90%;
    &__title{
        margin-left: 10px;
    }
    &__flex{
        margin: auto;
        @include flexMidCol ;  
    }
    &__btn{
        margin: 10px;
        position: relative;
        padding: 25px 20px ;
        @include flexstartRow ;
        @include shadow ;/*(dark-color-light($background-color-lightgrey))*/
        @include transition-transform ;
        span{
            background-color: $color-primary;
            border-radius: 50%;
            color: $lightcolor-item-fonts ;
            font-size: 0.7em;
            padding: 5px 8px;
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(-50%, 100%);
        }
        &--forme{
            border: none;
            border-radius: 25px;
            font-size: 1em;
            font-weight: bolder;
            &--i {
                color: grey;
                padding: 0 15px 0 15px;
            }
        &:hover{
            background-color: hover($color-primary);
            @include block-scale ;
            & i{
                color: $color-primary;
            }
        }
       
        }
    }
}
